@model CHOY.Models.Member


@{
    ViewBag.Title = "Display";
}
    <div class="page-container">
        <div class="index-inner">

            @*<h2>@(((DateTime)ViewData["Date"]).ToString("D"))</h2>*@

            @*<div>
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.NickName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NickName)
                    </dd>

                    <dt>

                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>

                    <dd>
                        @Model.Gender.ToGender()
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Bday)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Bday)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ContactEmail)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ContactEmail)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreateAt)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreateAt)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ProfilePic)
                    </dt>

                    <dd>
                        <img src="@Url.Action("GetImage",new { id=Model.MemberID} )" class="img-thumbnail" />
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.PerCode)
                    </dt>

                    <dd>
                        @Model.PerCode
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsSuspended)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsSuspended)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LastLogInTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastLogInTime)
                    </dd>

                </dl>
            </div>*@

            @*<div class="form-horizontal member-list">*@
            <div>
                <img src="@Url.Action("GetImage",new { id=Model.MemberID} )" class="img-thumbnail" style="width:200px;"/>
            </div>

            <div class="">
                <div>
                    @Html.DisplayNameFor(model => model.Email)
                </div>
                <div class=" ">
                    @Html.DisplayFor(model => model.Email)
                </div>
            </div>

            <div class="">
                <div>
                    @Html.DisplayNameFor(model => model.NickName)
                </div>
                <div class=" ">
                    @Html.DisplayFor(model => model.NickName)
                </div>
            </div>

            <div class="">
                <div>
                    @Html.DisplayNameFor(model => model.Gender)
                </div>
                <div class=" ">
                    @Model.Gender.ToGender()
                </div>
            </div>

            <div class="">
                <div>
                    @Html.DisplayNameFor(model => model.Bday)
                </div>
                <div class=" ">
                    @Html.DisplayFor(model => model.Bday)
                </div>
            </div>

            <div class="">
                <div>
                    @Html.DisplayNameFor(model => model.ContactEmail)
                </div>
                <div class=" ">
                    @Html.DisplayFor(model => model.ContactEmail)
                </div>
            </div>

            <div class="">
                <div>
                    @Html.DisplayNameFor(model => model.CreateAt)
                </div>
                <div class=" ">
                    @Html.DisplayFor(model => model.CreateAt)
                </div>
            </div>

            <div class="">
                <div>
                    @Html.DisplayNameFor(model => model.PerCode)
                </div>
                <div class=" ">
                    @*@Model.PerCode*@
                    @Model.PerCode.GetDisplayName()
                    @*@Html.DisplayFor(model => model.PerCode)*@
                </div>
            </div>

            <div class="">
                <div>
                    @Html.DisplayNameFor(model => model.IsSuspended)
                </div>
                <div class=" ">
                    @Html.DisplayFor(model => model.IsSuspended)
                </div>
            </div>

            <div class="">
                <div>
                    @Html.DisplayNameFor(model => model.LastLogInTime)
                </div>
                <div class=" ">
                    @Html.DisplayFor(model => model.LastLogInTime)
                </div>
            </div>

        @*</div>*@
            <p>
                @Html.ActionLink("更改權限", "Edit", new { id = Model.MemberID }) |
                @Html.ActionLink("回到會員列表", "Index")
            </p>

        </div>
    </div>