@model Demo.Models.Bulletin

@*@using (Html.BeginForm("Create", "Bulletins", FormMethod.Post))
    {

        @Html.AntiForgeryToken()


        <h2>建立公告</h2>
        <div class="bul_container">

            <div class="form-group">
                @Html.LabelFor(model => model.PublishStart, htmlAttributes: new { @class = "text-center" })
                <div class="">
                    @Html.EditorFor(model => model.PublishStart, new { htmlAttributes = new { @id = "StartTime", @class = "", @type = "datetime-local" ,@oninput ="myFunction(this.value)", @required = " required" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PublishEnd, htmlAttributes: new { @class = "text-center" })
                <div class="">
                    @Html.EditorFor(model => model.PublishEnd, new { htmlAttributes = new { @id = "EndTime" ,@class = "", @type = "datetime-local", @required = " required" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "" })
                <div class="">
                    @Html.TextAreaFor(model => model.Content, 5, 50, new {  @required = " required" })
                </div>
            </div>


            <div class="form-group">
                <div class="">
                    <input type="submit" value="新增公告" class="page_btn" />
                </div>
            </div>
        </div>


    }
    <script>

        /////////////////////////發布時間設定
        var today = new Date();
        //alert(today);
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        var hh = today.getHours();
        var nn = today.getMinutes();

        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        if (hh < 10) {
            hh = '0' + hh;
        }
        if (nn < 10) {
            nn = '0' + nn;
        }

        today = yyyy + '-' + mm + '-' + dd+'T'+hh+':'+nn;
        document.getElementById('StartTime').min = today;

        function myFunction(val) {
            var start = document.getElementById("StartTime").value;
            document.getElementById('EndTime').min = start;
        }
        ////////////////////////////////////////////////
     </script>*@


@using (Html.BeginForm("Create", "Bulletins", FormMethod.Post))
{

    @Html.AntiForgeryToken()


    <h2 class="page-tittle font-middle">建立公告</h2>
    <div class="bulletin-create-container ">

        <div class="form-group">
            @Html.LabelFor(model => model.PublishStart, htmlAttributes: new { @class = "text-center" })
            <div class="">
                @Html.EditorFor(model => model.PublishStart, new { htmlAttributes = new { @id = "StartTime", @class = "", @type = "datetime-local", @oninput = "myFunction(this.value)", @required = " required" } })
                @*@Html.ValidationMessageFor(model => model.PublishStart, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PublishEnd, htmlAttributes: new { @class = "text-center" })
            <div class="">
                @Html.EditorFor(model => model.PublishEnd, new { htmlAttributes = new { @id = "EndTime", @class = "", @type = "datetime-local", @required = " required" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "" })
            <div class="">
                @Html.TextAreaFor(model => model.Content, 5, 50, new { @required = " required" })
            </div>
        </div>

        <div class="form-group">
             <input type="submit" value="新增公告" class="btn" />
        </div>
    </div>


}
<script>

    /////////////////////////發布時間設定
    var today = new Date();
    //alert(today);
    var dd = today.getDate();
    var mm = today.getMonth() + 1;
    var yyyy = today.getFullYear();
    var hh = today.getHours();
    var nn = today.getMinutes();

    if (dd < 10) {
        dd = '0' + dd;
    }
    if (mm < 10) {
        mm = '0' + mm;
    }
    if (hh < 10) {
        hh = '0' + hh;
    }
    if (nn < 10) {
        nn = '0' + nn;
    }

    today = yyyy + '-' + mm + '-' + dd + 'T' + hh + ':' + nn;
    document.getElementById('StartTime').min = today;

    function myFunction(val) {
        var start = document.getElementById("StartTime").value;
        document.getElementById('EndTime').min = start;
    }
    ////////////////////////////////////////////////
</script>